<div class="col-3">
	<div class="card" style="width: 15rem;">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<a style="color:black" asp-area="Account" asp-controller="Account" asp-action="UserInfo">
					@ViewLocalizer["mydata.link"]
				</a>
			</li>
			<li class="list-group-item">
				<a style="color:black" asp-area="Account" asp-controller="Account" asp-action="Orders">
					@ViewLocalizer["orders.link"]
				</a>
			</li>
		</ul>
	</div>
</div>
