<div class="d1" style="text-align: center">
	<form>
		<input type="text" name="productName" placeholder="@ViewLocalizer["search.text"]..." style="width:50%">
		<button class="btn-dark" type="submit" asp-controller="Search" asp-action="FindProduct">
			@ViewLocalizer["search.button"]
	    </button>
		<p></p>
	</form>
</div>
