@model ChangePassword
@inject IViewLocalizer ViewLocalizer

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("MenuPanel")
	</div>

	<div class="col-9">
		<div class="row">
			<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
		</div>
		<form method="post">
			<h4 style="text-align:center">@ViewLocalizer["changepassord.text"]</h4>

			<div class="userEdit-form" style="width: 300px; margin-left:auto; margin-right:auto">
				<br>
				<div>
					<input type="password" asp-for="Password" class="form-control" placeholder=@ViewLocalizer["newpassword.text"]>
					<span asp-validation-for="Password" style="color:red"></span>
				</div>			
				<br>
				<div>
					<input type="password" asp-for="ConfirmPassword" class="form-control" placeholder=@ViewLocalizer["repeatpassword.text"]>
					<span asp-validation-for="ConfirmPassword" style="color:red"></span>
				</div>
				<br>
				<div style="text-align:center">
					<button type="submit" style="width: 180px" class="btn btn-info role="button" asp-area="Admin" asp-controller="Users" asp-action="ChangePassword">
						@ViewLocalizer["edit.button"]
					</button>
				</div>
				<div>
					<input type="hidden" asp-for="UserId" class="form-control" value="@ViewBag.UserId">
				</div>
			</div>
		</form>
	</div>
</div>
